@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.leaf {
  position: absolute;
  z-index: -1;
}

.left-leaf {
  bottom: -60px;
  left: 0;
  width: 50vw;
  max-width: 600px;
}

.right-leaf {
  top: -60px;
  right: 0;
  width: 40vw;
  max-width: 600px;
}

.extra-section-leaf {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}

.leaf-second {
  position: absolute;
  z-index: -1;
}

.left-leaf-second {
  bottom: -40px;
  left: 0;
  width: 60vw;
  max-width: 700px;
}

.right-leaf-second {
  bottom: -200px;
  right: 0;
  width: 60vw;
  max-width: 700px;
}

.centered-text {
  font-size: 7rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  text-transform: uppercase;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: visible;
}

.bowl-image {
  width: 130vw;
  max-width: none;
  max-height: 130vh;
  transform: translateY(20vh);
  object-fit: contain;
}

.green-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.25rem;
  font-weight: 900;
  color: #415C1A;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  transition: color 0.3s;
}

.green-text:hover {
  color: #fff;
  cursor: pointer;
}

.extra-section {
  width: 100%;
  padding: 40px 20px 0px 20px;
  text-align: center;
  max-width: 800px;
  margin-top: 40vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1.5rem;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info-item {
  flex: 1 1 20%;
  text-align: center;
}

.label {
  display: block;
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 1.75rem;
  font-weight: 400;
  color: #3a5d30;
}

.logo {
  width: 50vw;
  max-width: 500px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: -40px;
}

.subtitle {
  font-size: clamp(2.5rem, 4vw + 1rem, 4.2rem);
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: -3px;
  margin-right: 20px;
}

.subtitle-release {
  font-size: 1.9rem;
  color: #000;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: -1.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
.address-button,
.buy-button {
  user-select: auto;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.address-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 0.9rem;
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 900;
  color: #000;
}

.icon-copy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-weight: 900;
  color: #000;
}

.address-button:hover,
.buy-button:hover {
  background-color: #6FC810;
  border-color: #4d8c0b;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #333;
}

.footer-release {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #333;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  stroke: #fff;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  width: 37.5px;
  height: 37.5px;
  background-color: #000;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 70%;
  height: 70%;
}

.icon:hover {
  transform: scale(1.1);
  background-color: #4d8c0b;
}

.footer-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  text-align: center;
  font-size: clamp(0.6rem, 1vw + 0.4rem, 0.8rem);
  color: #000;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
}

.footer-item {
  flex: 1;
  text-align: center;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

.footer-item.footer-center {
  color: #000;
  font-weight: inherit;
  cursor: pointer;
}

.footer-item.footer-center:hover {
  color: #4d8c0b;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #333;
  font-family: "Poppins", sans-serif;
  z-index: 10;
}

.coming-soon .content-img,
.coming-soon .content {
  opacity: 0;
}

.text-zone {
  max-width: 600px;
  color: #000;
  font-size: 1.15rem;
  line-height: 1.6;
  padding: 0 20px;
  text-align: start;
  position: absolute;
  bottom: 5%;
  right: 10%;
  transform: translateX(10%);
}

.text-zone p {
  font-weight: 300;
}

@keyframes shimmer {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

#ring {
  position: absolute;
  animation: shimmer 1.5s ease-in-out infinite;
  top: -4px;
  left: -4px
}

#leaf-loader-logo {
  position: absolute;
  width: 147px;
}

.footer {
  padding: 2rem 1rem;
  background-color: #fff;
  text-align: center;
}

.footer-heading h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon {
  width: 32px;
  height: 32px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer-links a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  color: #4d8c0b;
  /* Optional: hover color for links */
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.footer-bottom p,
.footer-bottom .email,
.footer-bottom .contract-address {
  margin: 0;
}

.email {
  color: #000;
  text-decoration: none;
}

.contract-address {
  font-size: 0.8rem;
  color: #666;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: clamp(2.5rem, 4vw + 1rem, 3.8rem);
  }

  .subtitle-release {
    font-size: clamp(1.5rem, 1.5rem + 0.7vw, 1.8rem);
  }

  .leaf {
    width: 65vw;
  }

  .logo {
    width: 65vw;
  }

  .footer-info {
    font-size: clamp(0.65rem, 1vw + 0.5rem, 0.8rem);
    padding: 0 15px;
  }

  .text-zone {
    max-width: 90%;
    bottom: 5%;
    left: 5%;
    right: auto;
    transform: translateX(0);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #000;
    font-size: 1rem;
    text-align: center;
  }

  .extra-section {
    margin-top: 0vh !important;
  }

  .extra-section-leaf {
    height: 300px;
  }

  .bowl-image {
    width: 120vw;
    height: auto;
    max-height: 80vh;
    transform: translateY(0);
  }

  .green-text {
    top: 30%;
    font-size: 2rem;
  }

  .info-item {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: clamp(2rem, 5vw + 1rem, 3rem);
  }

  .subtitle-release {
    font-size: clamp(1rem, 1.3rem + 0.5vw, 1.3rem);
  }

  .leaf {
    width: 75vw;
  }

  .logo {
    width: 80vw;
  }

  .buttons button {
    padding: 8px 15px;
    font-size: 0.8rem;
  }

  .footer-info {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: clamp(0.7rem, 1.5vw, 0.8rem);
  }

  .footer-item {
    flex: none;
    text-align: center;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 2px;
  }

  .footer-left {
    order: 3;
    padding-bottom: 5px;
  }

  .footer-center {
    order: 2;
  }

  .footer-right {
    order: 1;
  }

  .text-zone {
    max-width: 90%;
    bottom: 2%;
    left: 5%;
    transform: translateX(0);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #000;
    font-size: 1rem;
  }

  .info-section {
    height: 100vh;
  }

  .extra-section {
    margin-top: -10vh !important;
  }

  .extra-section-leaf {
    height: 150px;
  }

  .bowl-image {
    width: 150vw;
    height: auto;
    max-height: 70vh;
    transform: translateY(0);
  }

  .green-text {
    top: 32.5%;
    font-size: 1.5rem;
  }

  .info-item {
    flex: 1 1 45%;
  }

  .right-leaf-second {
    bottom: -150px;
  }
}